/* Will Moritz's styles */

#will-moritz {
  background-image: url('../images/will_serious.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#will-moritz:hover {
  background-image: url('../images/will_smile.jpg');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }
}

/* Anais Perez's styles */


/* Austin Yates's styles */


/* Hernan Rodriguez's styles */


/* Hilda Ortega's styles */


/* Jenifer Soriano's styles */


/* Jessica Valcin's styles */


/* Joel Colon's styles */


/* Johan Pena's styles */


/* Kenia Martinez's styles */


/* Luis Abreu's styles */
#luis-abreu {
  background-image: url("http://www.morningkids.net/name/images/coloring-page-first-name-luis.jpg");
  background-size: 160px 160px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-animation-name: spin;
  -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
}
#name {
  color:white;
}
/* Pierre-Ryan Baptiste's styles */


/* Prince Warner's styles */
  #prince-warner {
    background-image: url(http://www.billboard.com/files/styles/article_main_image/public/media/drake-summer-sixteen-art-2016-billboard-650.jpg);
    background-size: 78%;
    background-position: center;
    font-size: 25px;
    color: #000000;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 3px 3px #ffffff;
  }

  #prince-warner:hover {
    background-image: url(https://i.ytimg.com/vi/dYR3-dN9iG4/hqdefault.jpg);
  }
/* Roberto Roman's styles */


/* Sergio Hugo's styles */


/* Shyanne Jordan's styles */


/* Tyrese Francis's styles */
