/* Will Moritz's styles */

#will-moritz {
  background-image: url('../images/will_serious.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#will-moritz:hover {
  background-image: url('../images/will_smile.jpg');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }
}

#Johan_Pena{
  background-image: url('https://fireinthebasement.files.wordpress.com/2012/04/meanmug.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#Johan_Pena:hover {
  background-image: url('https://images.contentful.com/6m9bd13t776q/hUpgP5MrnMeCKiW8syMGY/57e3374ee492c1d3377aa971a271f3bd/01ee5aa2-d2e2-4427-bc63-38100552fe02_rs_640.640?q=75');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }
}
 
/* Anais Perez's styles */
#anais-perez{
  background:url("http://science-all.com/images/sunflower/sunflower-02.jpg");
  background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj_1dPXvvjMAhVFPj4KHT7iBCsQjRwIBw&url=http%3A%2F%2Fscience-all.com%2Fsunflower.html&psig=AFQjCNEjG8Uck1MxYMvMZKaUaAQcObjQRA&ust=1464377834680639');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}
#anais-perez:hover {
  background-image: url('http://science-all.com/images/sunflower/sunflower-02.jpg');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}
keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }



/* Austin Yates's styles */
#austin-yates{
  background-image: url("https://66.media.tumblr.com/020a20cf73e5b907f477340fc2fd5d52/tumblr_n28fstTsE41tusohgo1_500.gif");
background-size:105%; 
background-position: center;


}

/* Hernan Rodriguez's styles */
#Hernan-Rodriguez {
  background-image: url('https://media.giphy.com/media/ecyGHoXP8Un28/giphy.gif');
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
}


/* Hilda Ortega's styles */


/* Jenifer Soriano's styles */


/* Jessica Valcin's styles */


/* Joel Colon's styles */
#joel-colon{
  background:url('https://lh3.googleusercontent.com/-JafarURebSM/VogiVao_HeE/AAAAAAAAAG0/oz9XcgsFqUgZkJ-Qo-9TEq9S1QR4kFdNQCKgB/w163-h110-p/ProfilePhotos02');
  -webkit-animation-name:rotateY,borderC,color;
  -webkit-animation-duration:10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  border: solid 10px yellow;
  background-size:100%;
  text-align:center;
  font-size:3.0em;
}

@keyframes color{
  from{color:#0FF;}
  to{color:#F0F;}
}

@keyframes rotate{
  from{transform:rotateX(0deg);}
  to{transform:rotateX(360deg);}
}

@keyframes rotateY{
  from{transform:rotateY(0deg);}
  to{transform:rotateY(360deg);}
}

@keyframes borderC5{
  from{border-color:yellow;}
  to{border-color:purple;}
}
/* Johan Pena's styles */


/* Kenia Martinez's styles */


/* Luis Abreu's styles */
#luis-abreu {
  background-image: url("http://www.morningkids.net/name/images/coloring-page-first-name-luis.jpg");
  background-size: 160px 160px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-animation-name: spin;
  -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
}
#name {
  color:white;
}
/* Pierre-Ryan Baptiste's styles */


/* Prince Warner's styles */
  #prince-warner {
    background-image: url(https://media3.giphy.com/media/26BkNIqbzQIXdUi08/200.gif);
    background-size: 78%;
    background-position: center;
    font-size: 25px;
    color: #000000;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 3px 3px #ffffff;
  }

  #prince-warner:hover {
    background-image: url(https://i.ytimg.com/vi/dYR3-dN9iG4/hqdefault.jpg);
     color: #fff;
  text-shadow: 2px 2px #000;
  outline: 15px solid white;
  box-shadow: 18px 18px 10px #fff;
  animation: bounce .5s infinite ease;
  }
  @keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: white;
  }

  50% {
    transform: translateY(5px);
    outline-color: #000;
  }
}
/* Roberto Roman's styles */

#Roberto{
  background-image: url('http://vignette1.wikia.nocookie.net/dragonball/images/2/21/VegetaFinalFlash.gif/revision/latest?cb=20150708111812&path-prefix=fr');

  

}



/* Sergio Hugo's styles */
#sergio-hugo{
background-image: url("https://secure.static.tumblr.com/c98d360aed9047838fd87440de897904/hwij2tv/Fbvnkd4r2/tumblr_static_tumblr_static_e7swbn25ats84w44g0gc0sgcw_640.gif");

}
/* Shyanne Jordan's styles */


/* Tyrese Francis's styles */
